.amenity {
  display: flex;
  max-width: 70rem;
  margin-bottom: 5rem;

  @include media($max: $bp-s) {
    flex-direction: column;
    &:not(:last-child) {
      padding-bottom: 3rem;
    }
  }
}

.amenity__content {
  @include media($min: $bp-s) {
    width: 60%;
  }
}

.amenity__description {
  padding-right: 2rem;

  p {
    margin-top: 1rem;
  }
}

.amenity__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 20rem;

  @include media($max: $bp-s) {
    order: -1;
    margin-bottom: 2rem;
  }

  @include media($min: $bp-s) {
    width: 40%;
  }
}

.amenity__image {
  @include media($min: $bp-s) {
    height: 100%;
    width: 100%;
  }
}


