.where-page__introduction {
  width: 80%;
  max-width: 55rem;
  @include media($min: $bp-s) {
    display: flex;
  }
}

.where-page__image {
  @include media($min: $bp-s) {
    width: 70%;
  }
  max-width: 45rem;
  width: 100%;
}

.where-page__title {
  margin-top: 2rem;
  margin-bottom: 1rem;

  @include media($max: $bp-s) {
    text-align: center;
  }
}
