html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em;
  background-image: url('../images/ricepaper_v3.png');
  overflow: auto;
}
